.App {
  text-align: center;
}

.main-wpaper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.filters-content-flex-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1492px;
  left: calc(50% - 1492px/2);
}
