.cart-back {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(1, 1, 1, 0.5);
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.cart-block {
    position: fixed;
    height: 80%;
    width: 80%;
    background: #FFFFFF;
    border-radius: 20px;
}
