@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

.filters-wrap {
  position: relative;
  display: flex;
  row-gap: 24px;
  flex-direction: column;
  left: 157px;
  top: 16px;
}

.collapsed {
  width: 304px;
  height: 40px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
}

.filter-arrow {
  position: relative;
  left: 264px;
  top: -16px;
  width: 24px;
  height: 24px;
  background: url("../public/chevron-down.png");
}

.filter-title {
  position: relative;
  height: 24px;
  width: 230px;
  left: 8px;
  top: 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #19191D;
  text-align: left;
}

.expand {
  width: 304px;
  height: 304px;
  background: #F7F7FA;
  border-radius: 4px;
}

.check-flex {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  position: absolute;
  height: 250px;
  left: 8px;
  right: 8px;
  bottom: 8px;
}

.check-item {

}